{erl_opts, [debug_info,{i,"include"},{i,"/home/joq62/erlang/include"},
            {i,"/home/joq62/erlang/paas/paas_include"}]}.
{deps, [
         {zigbee_devices,{git,"https://github.com/joq62/zigbee_devices.git",{branch,"main"}}},
         {resource_discovery,{git,"https://github.com/joq62/resource_discovery.git",{branch,"main"}}},
         {log,{git,"https://github.com/joq62/log.git",{branch,"main"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [zigbee_provider]}
]}.

